In [4]:
import datetime as dt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Remove $ from Revenue column
sales['Revenue'] = sales['Revenue'].str.strip('$')
sales['Revenue'] = sales['Revenue'].astype('int')

In [ ]:
# Verify that Revenue is now an integer
assert sales['Revenue'].dtype == 'int'

## The assert statement

In [1]:
# THis will pass: returns nothing!
assert 1+1 ==2

In [2]:
assert 1+1 == 3

AssertionError:

## Convert to categorical

In [ ]:
# 0= never_married, 1 = Married, 2 = Seperated, 3 = Divorced
df["marriage_status"] = df['marriage_status'].astype('category')
df.describe()

## Dropping values

In [ ]:
# Drop values using filter 
movies =  movies[movies['avg_rating'] <= 5]

# Drop values using .drop
movies.drop(movies[movies['avg_rating'] >5].index, inpalce = True)

## assert results 
assert movies['avg_rating'].max() <= 5

# Convert avg_raings >5 to 5
movies.loc[movies['avg_rating'] > 5, 'avg_rating'] = 5

## Date range example

In [ ]:
# output data types
user_singups.dtypes

# Convert to DateTime
user_signups['subscription_date'] = pd.to_datetime(user_signups['subscription_date'])

# Assert that conversion happened
assert user_signups['subscription_date'].dtype == 'datetime64[ns]'

In [ ]:
today_date = dt.date.today()

# Drop values using filtering 
user_signups = user_signups[user_signups['subscription_date']< today_date]

#Drop values using .drop()
user_signups.drop(user_signups[user_signups['subscription_date'] > today_date].index, inplace = True)

#----------- Hardcode dates with upper limit

# Drop values using filtering 
user_signups.loc[user_signups['subscription_date'] > today_date, 'subscription_date'] = today_date

# assert is true
assert user_signups.subscription_date.max().date() <= today_date

In [ ]:
"""
you will make sure the tire_sizes column has the correct range by first converting it to an integer, 
    then setting and testing the new upper limit of 27â€³ for tire sizes.
"""

# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27  #'tire_sizes' needs the single brackets

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

## Finding duplicate values
- The .duplicated() method
    - subset: List of column names to check for duplication
    - keep" Whether to keep first ('first'), last( 'last') or all (False) duplicate values
- .drop_duplicates() methods
    - subset: List of column names to check for duplication
    - keep" Whether to keep first ('first'), last( 'last') or all (False) duplicate values
    - inplace: Drop duplicated row directly inside DataFrame without creating new object (True)

In [ ]:
# Get duplicates across all columns 
duplicates = height_weight.duplicated()  # Will show True or False for each row 

# Get duplicate rows
duplicates = height_weight.duplicated()
height_weight[duplicates]

In [ ]:
# Column names to check for duplication 
column_names = ['first_name', 'last_name', 'address']
duplicates = height_weight.duplicated(subset = column_names, keep = False)

# Output duplicate values
height_weight[duplicates].sort_values( by = 'first_name')

In [ ]:
# Drop duplicates
height_weight.drop_duplicates(inplace = True)

In [ ]:
# How to treat duplicates values - The .groupby() and .agg() methods
    # Group by column names and produce statistical summaries 
column_names = ['first_name', 'last_name', 'address']
summaries = {'height':'max', 'weight':'mean'}
height_weight = height_weight.groupby(by =column_names).agg(summaries).reset_index()

In [ ]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index() # Why do we need to reset_index?

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

## Finding inconsistent categories

In [ ]:
inconsistent_categories = set(study_data['blood_type']).difference(categories['blood_type'])
print(inconsistent_categories)

In [ ]:
# Get and print rows with inconsistent categories 
inconsistent_rows = study_data['blood_type'].isin(inconsistent_categories)
study_data[inconsistent_rows]

# Drop inconsistent categories and get consistent data only 
consistent_data = study_data[~inconsistent_rows]

## categorical variables
 - value inconsistency
     - 'married', 'Married', 'UNMARRIED','not married'
     - _Trailing whit space: _'married ', ' married ',...
 - collapsing too many categories to few

In [ ]:
# Get marriage status column
marriage_status = demograhics['marriage_status']
marriage_status.value_counts() # Works on series only!

## GEt value counts on DataFrame
marriage_status.groupby('marriage_status').count()

## Capitalized 
marriage_status['marriage_status'] = marriage_status['marriage_status'].str.upper()
marriage_status['marriage_status'].value_counts() 

# Strip all spaces
demograhics = demograhics['marriage_status'].str.strip()  
demograhics['marriage_status'].value_counts()

### Collapsing data into categories

In [ ]:
# Using qcut()
import pandas as pd
group_names = ['0-200K', '200K-500K', '500K+']
demographics['imcome_group'] = pd.qcut(demographics['household_income'] , q = 3, labels = group_names)

#Pinrt income_group column
demographics[['imcome_group', 'household_income']]

In [ ]:
# Using cut() - create category ranges and names
ranges = [0, 200000, 500000, np.inf]
group_names = ['0-200K', '200K-500K', '500K+']

# Create income group column 
demographics['imcome_group'] = pd.cut(demographics['household_income'] , bins = ranges, labels = group_names)

#Pinrt income_group column
demographics[['imcome_group', 'household_income']]

In [ ]:
"""
Collapsing data into categories:
    - operating_system: 'Microsoft', 'MacOS', 'IOS', 'Android', 'Linux'
    - operating_system: 'DesktopOS', 'MobileOS'
"""

# Creating mapping dictionary and replace 
mapping = {'Microsoft':'DesktopOs', 'MacOS':'DesktopOS', 'Linux':'DesktopOS', 'IOS':'MobileOS', 'Android':'MobileOS'}
devices['operating_system'] = devices['operating_system'].replace(mapping)
devices['operating_system'].unique()

In [ ]:
"""
wait_type: 'short' for 0-60 min, 'medium' for 60-180 and long for 180+
day_week: 'weekday' if day is in the weekday, 'weekend' if day is in the weekend.
"""

# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges, 
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday', 
            'Thursday': 'weekday', 'Friday': 'weekday', 
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

## Cleaning text data

In [ ]:
# replace "+" with "00"
phones["Phone number"] = phones["Phone number"].str.replace("+", "00") 

## Assert all numbers do not have "+" or "-"
assert phone['phone number'].str.contains("+|-").any() == False # assert returns nothing if the condition passes

## Regular expression in action

In [ ]:
# Replace letters with nothing
phones['Phone number'] = phones['Phone number'].str.replace(r'\D+','') # Replace that is not digit to nothing!

## Treating date data

In [ ]:
# Converts to datetime - but won't work 
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'])

# Will work!
birthdays['Birthday'] = pd.to_datetime(birthdays['Birthday'],
                                       #Attempt to infer format of each date
                                       infer_datetime_format = True, 
                                       # Return NA for rows where conversion failed
                                       errors = 'coerce'
                                      )

In [ ]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce') 

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y') #Can not type year....

# Print acct_year
print(banking['acct_year'])

## Uniform currency

In [ ]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1 

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

## Cross field validation
- The use of multiple fields in a dataset to sanity check data integrity

In [ ]:
# Sum across columns! and axis = 1 indicate row wise summing!
sum_calsses = flights[['economy_class', 'business_class', 'first_class']].sum(axis=1)

## Missing values

In [ ]:
## Return missing values
airquality.isna()

## GEt the summary of missingness 
airquality.isna.sum()

## Dropping missing values
airquality_dropped = airquality.dropna(subset = ['CO2'])

## Replacing with stats measurements
co2_mean = airquality['CO2'].mean()
airquality_imputed = airquality.fillna({'co2':co2_mean})

## Missingno
- Useful package for visualizing and understanding missing data

In [ ]:
import missingno as msno 
import matplotlib.pyplot as plt
msno.matrix(airquality)
plt.show()

In [ ]:
sorted_airquality = airquality.sort_values(by = 'Temperature')
msno.matrix(sorted_airquality)
plt.show()

## Comparing strings: Minimum edit distance algorithms
- Damerau-Levenshtein: insertion, substitution, deletion, transposition
- Levenshtein: insertion, substitution, deletion (fuzzywuzzy)
- Hamming: substitution only
- Jaro distance: transposition only 
- Possible packages: nltk, fuzzywuzzy, textdistance...

### Simple string comparison

In [1]:
# Lets us compare between two strings
from fuzzywuzzy import fuzz

# Compare reeding vs reading 
fuzz.WRatio('Reeding', 'Reading')

ModuleNotFoundError: No module named 'fuzzywuzzy'

## Remapping categories

In [ ]:
# Iterate through categories
for cuisine in categories:  
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine
      
# Inspect the final result
print(restaurants['cuisine_type'].unique())

## Generating pairs

In [ ]:
## Import recordlinkage
import recordlinkage

# Create indexsing object 
indexer = recordlinkage.Index()

# Generate pairs blocked on state
indexer.block('state')
pairs = indexer.index(census_A, census_B)

# Create a Compare object 
compare_cl = recordlinkage.Comapre()

# Find exact matches for pairs of data_of_birth and state
compare_cl.exact('date_of_birth', 'date_of_birth', label = 'date_of_birth')
campare_cl.exact('state', 'state', label = 'state')

# Find similar matches for pairs of surname and address_1 using string similarity 
compare_cl.string('surname', 'surname', threshold =0.85, label = 'surname')

# Find matches 
potential_matches = compare_cl.compute(pairs, census_A, census_B)

## Probable matches

In [ ]:
matches = potential_matches[potential_matches.sum(axis = 1) >= 3]
print(matches)

## Get the indices

In [ ]:
matches.index

# Get indices from census_B only
duplicate_rows = matches.index.get_level_values(1)
print(census_B_index)

In [ ]:
# Finding duplicates in census_B
census_B_duplicates = census_B[census_B.index.isin(duplicate_rows)]

# Finding new rows in census_B
census_B_new = census_B[~census_B.index.isin(duplicate_rows)]

# Link the DataFrames!
full_census = census_A.append(census_B_new)