## Creating date objects

In [ ]:
# Import date
from datetime import date

# Create dates 
two_hurricanes_dates = [date(2016, 10, 7), date(2017, 6, 21)]
print(two_hurricanes_dates[0].year)
print(two_hurricanes_dates[0].month)
print(two_hurricanes_dates[0].day)

## Finding the weekday of a date

In [ ]:
print(two_hurricanes_dates[0].weekday())

## Math with Dates

In [1]:
# Import date 
from datetime import date 

#Create our dates 
d1 = date(2017, 11, 5)
d2 = date(2017, 12, 4)
l = [d1, d2]

# Subtract two dates 
delta = d2 - d1
print(delta.days)

29

In [2]:
# Import timedelta
from datetime import timedelta 
td = timedelta(days =29)
print(d1 + td)

2017-12-04

## Putting a list of dates in order

In [ ]:
# Print the first and last scrambled dates
print(dates_scrambled[0])
print(dates_scrambled[-1])

# Put the dates in order
dates_ordered = sorted(dates_scrambled)

# Print the first and last ordered dates
print(dates_ordered[0])
print(dates_ordered[-1])

## ISO 8601 format

In [3]:
from datetime import date 

# Example date
d = date(2017, 11, 5)

#ISO format: YYYY-MM-DD
print(d)

#Express the date in ISO 8601 format and put it in a list 
print([d.isoformat()])

2017-11-05
['2017-11-05']

In [4]:
# A few dates that computers once had trouble with 
some_dates = ['2000-01-01', '1999-12-31']

# Print them in order 
print(sorted(some_dates))

['1999-12-31', '2000-01-01']

In [7]:
# Example date 
d = date(2017, 1, 5)

print(d.strftime("%Y"))

2017

In [6]:
# Format string with more text in it 
print(d.strftime("Year is %Y"))

Year is 2017

In [5]:
# Format: YYYY/MM/DD
print(d.strftime("%Y/%m/%d"))

2017/11/05

## Dates and times
- Counting events before and after noon

In [10]:
# Import datetime
from datetime import datetime

# Create dictionary to hold results
trip_counts = {'AM': 0, 'PM': 0}
  
# Loop over all trips
for trip in onebike_datetimes:
  # Check to see if the trip starts before noon
  if trip['start'].hour < 12:
    # Increment the counter for before noon
    trip_counts['AM'] += 1
  else:
    # Increment the counter for after noon
    trip_counts['PM'] += 1
  
print(trip_counts)

NameError: name 'onebike_datetimes' is not defined

## Printing and pasrsing datetimes

In [11]:
# Create datetime 
dt = datetime(2017, 12, 30, 15, 19, 13)
print(dt.strftime("%Y-%m-%d"))

2017-12-30

In [12]:
print(dt.strftime("%Y-%m-%d %H:%M:%S"))

2017-12-30 15:19:13

In [14]:
print(dt.strftime("%H:%M:%S on %d/%m/%Y"))

15:19:13 on 30/12/2017

In [15]:
#ISO 8601 format 
print(dt.isoformat())

2017-12-30T15:19:13

In [18]:
from datetime import datetime 
dt= datetime.strptime("12/30/2017 15:19:13", "%m/%d/%Y %H:%M:%S")
print(dt)

2017-12-30 15:19:13

In [19]:
dt = datetime.strptime("2017-12-30 15:19:13", "%Y-%m-%d")
print(dt)

ValueError: unconverted data remains:  15:19:13

## Parsing datetimes with Pandas

In [20]:
# A timestamp
ts = 1514665153.0

# Convert to datetime and print (Unix timestamps)
print(datetime.fromtimestamp(ts))

2017-12-30 15:19:13

In [ ]:
# Import the datetime class
from datetime import datetime

# Starting string, in YYYY-MM-DD HH:MM:SS format
s = '2017-02-03 00:00:01'

# Write a format string to parse s
fmt = '%Y-%m-%d %H:%M:%S'

# Create a datetime object d
d = datetime.strptime(s, fmt)

# Print d
print(d)

In [ ]:
# Import datetime
from datetime import datetime

# Pull out the start of the first trip
first_start = onebike_datetimes[0]['start']

# Format to feed to strftime() (ISO 8601)
fmt = "%Y-%m-%dT%H:%M:%S"

# Print out date with .isoformat(), then with .strftime() to compare
print(first_start.isoformat())
print(first_start.strftime(fmt))

In [ ]:
# Subtract dateties to create a timedelta
print(duration.total_seconds())

## Creating timedeltas

In [22]:
# Import timedelta
from datetime import timedelta 
delta1 = timedelta(seconds =1)
delta2 = timedelta(days=1, seconds = 1)

## UTC

In [23]:
# Import relevant classes
from datetime import datetime, timedelta, timezone 

# US Eastern Standard time zone 
ET = timezone(timedelta(hours = -5))

# Timezone-aware datetime 
dt = datetime(2017, 12, 30, 15, 9, 3, tzinfo = ET)

print(dt)

2017-12-30 15:09:03-05:00

In [24]:
# India Standard time zone 
IST = timezone(timedelta(hours = 5, minutes = 30))

# Convert to IST 
print(dt.astimezone(IST))

2017-12-31 01:39:03+05:30

## Adjusting timezone vs changing tzinfo

In [25]:
print(dt.replace(tzinfo = timezone.utc))

2017-12-30 15:09:03+00:00

In [26]:
# Change original to match UTC
print(dt.astimezone(timezone.utc))

2017-12-30 20:09:03+00:00

## UTC offsets

In [1]:
# Import relevant classes 
from datetime import datetime, timedelta, timezone

In [4]:
# US Eastern Standard time zone 
ET = timezone(timedelta(hours = -5))

# Timezone-aware datetime 
dt = datetime(2021, 8, 28, 10, 55, 3, tzinfo = ET)
print(dt)

2021-08-28 10:55:03-05:00

In [ ]:
# India Standard time zone 
IST = timezone(timedelta(hours = 5, minutes = 30))

# Convert to IST 
print(dt.astimezone(IST))

In [5]:
print(dt.replace(tzinfo = timezone.utc))

2021-08-28 10:55:03+00:00

In [6]:
print(dt.astimezone(timezone.utc))

2021-08-28 15:55:03+00:00

In [7]:
# Time zone database 
from datetime import datetime 
from dateutil import tz ## tz atabase: format: 'Continent/City'

# Eastern time 
et = tz.gettz('America/New_York')
last = datetune(2017, 12, 30, 15, 9, 3, tzinfo = et)
print(last)

NameError: name 'datetune' is not defined

In [ ]:
## Start of Datlight Saving Time

from datetime import timezone, timedelta

EST = timezone(timedelta(hours = -5))
EDT = timezone(timedelta(hours = -4))

spring_ahead_159am = spring_ahead_159am.replace(tzinfo = EST)
spring_ahead_159am.isoformat()

In [ ]:
# Loading datetimes with parse_dates
rides = pd.read_csv('captial-onebike.csv', parse_dats = ['Start date', 'End date'])

In [ ]:
rides['Duration']\
    .dt.total_seconds()\
    .head(5)

In [ ]:
## Average duration by month 
rides.resample('M', on = 'Start date')['Duration seconds'].mean()

In [ ]:
# Localize the Start date column to America/New_York
rides['Start date'] = rides['Start date'].dt.tz_localize('America/New_York', 
                                						 ambiguous='NaT')

# Print first value
print(rides['Start date'].iloc[0])

# Convert the Start date column to Europe/London
rides['Start date'] = rides['Start date'].dt.tz_convert('Europe/London')

# Print the new value
print(rides['Start date'].iloc[0])

In [ ]:
# Handle ambiguous datetime
rides['Start date'] = rides['Start date']\
    .dt.tz_localize('America/New_York', ambiguous='NaT')

In [ ]:
# Shift the indexes forwards one, padding with NaT
rides['End date'].shift(1).head(3)

In [ ]:
# Add a column for the weekday of the start of the ride
rides['Ride start weekday'] = rides['Start date'].dt.weekday_name

# Print the median trip time per weekday
print(rides.groupby('Ride start weekday')['Duration'].median())