## Inner Join

## Data Source
- Crimes - One year prior to present: https://data.cityofchicago.org/Public-Safety/Crimes-One-year-prior-to-present/x2n5-8w5q
- Ward Offices: https://data.cityofchicago.org/Facilities-Geographic-Boundaries/Ward-Offices/htai-wnw4

In [27]:
import pandas as pd
import numpy as np
import datetime as dt

In [14]:
crime = pd.read_csv("Crimes_-_One_year_prior_to_present.csv")
ward = pd.read_csv("Ward_Offices.csv")

In [11]:
print(crime.head(3))
crime.shape
crime.dtypes

      CASE#     DATE  OF OCCURRENCE                BLOCK  IUCR  \
0  JE145602  12/22/2020 08:59:00 PM      004XX W 58TH ST  1153
1  JE173033  02/01/2021 09:30:00 PM  001XX E DELAWARE PL  0890
2  JE242132  11/01/2020 12:01:00 AM     109XX S AVENUE N  5000

   PRIMARY DESCRIPTION                SECONDARY DESCRIPTION  \
0   DECEPTIVE PRACTICE  FINANCIAL IDENTITY THEFT OVER $ 300
1                THEFT                        FROM BUILDING
2        OTHER OFFENSE           OTHER CRIME AGAINST PERSON

   LOCATION DESCRIPTION ARREST DOMESTIC  BEAT  WARD FBI CD  X COORDINATE  \
0             RESIDENCE      N        N   711  20.0     11           NaN
1             RESIDENCE      N        N  1833   2.0     06           NaN
2             RESIDENCE      N        Y   432  10.0     26           NaN

   Y COORDINATE  LATITUDE  LONGITUDE LOCATION
0           NaN       NaN        NaN      NaN
1           NaN       NaN        NaN      NaN
2           NaN       NaN        NaN      NaN

CASE#                      object
DATE  OF OCCURRENCE        object
BLOCK                      object
 IUCR                      object
 PRIMARY DESCRIPTION       object
 SECONDARY DESCRIPTION     object
 LOCATION DESCRIPTION      object
ARREST                     object
DOMESTIC                   object
BEAT                        int64
WARD                      float64
FBI CD                     object
X COORDINATE              float64
Y COORDINATE              float64
LATITUDE                  float64
LONGITUDE                 float64
LOCATION                   object
dtype: object

In [21]:
# Subset crime table 
crime_sample = crime.iloc[0:1001,:]

In [41]:
# Fix the column name
crime_sample.rename(columns = {
    "DATE  OF OCCURRENCE":"Date_of_Occurrance", 
    "IUCR":"IUCR",
    "PRIMARY DESCRIPTION":"Prim_Desc", 
    "SECONDARY DESCRIPTION":"Sec_Desc",
    "LOCATION DESCRIPTION":"Location_Desc",
    "FBI CD":"FBI_CD", 
    "X COORDINATE":"x_cord",
    "Y COORDINATE":"y_cord"},
                   inplace = True) # Use this so the rename will happen in the current dataset!

/Users/yitsai/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [43]:
# Fix datetime datatype issue
crime_sample["Date_of_Occurrance"] = pd.to_datetime(crime_sample["Date_of_Occurrance"])

<ipython-input-43-e254651a0bb7>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crime_sample["Date_of_Occurrance"] = pd.to_datetime(crime_sample["Date_of_Occurrance"])

In [44]:
print(crime_sample.head(1))

      CASE#  Date_of_Occurrance            BLOCK  IUCR  PRIMARY DESCRIPTION  \
0  JE145602 2020-12-22 20:59:00  004XX W 58TH ST  1153   DECEPTIVE PRACTICE

                 SECONDARY DESCRIPTION  LOCATION DESCRIPTION ARREST DOMESTIC  \
0  FINANCIAL IDENTITY THEFT OVER $ 300             RESIDENCE      N        N

   BEAT  WARD FBI_CD  x_cord  y_cord  LATITUDE  LONGITUDE LOCATION
0   711  20.0     11     NaN     NaN       NaN        NaN      NaN

In [9]:
print(ward.head(3))
ward.shape

   WARD                    ALDERMAN                               ADDRESS  \
0    33  Rodriguez Sanchez, Rossana            3001 West Irving Park Road
1    17             Moore, David H.                 1344 West 79th Street
2    44              Tunney, Thomas  3223 North Sheffield Avenue, Suite A

      CITY STATE  ZIPCODE      WARD PHONE        WARD FAX  \
0  Chicago    IL  60618.0  (773) 840-7880             NaN
1  Chicago    IL  60636.0  (773) 783-3672  (773) 783-3878
2  Chicago    IL  60657.0  (773) 525-6034  (773) 525-5058

                      EMAIL                                   WEBSITE  \
0         Info@33rdward.org                                       NaN
1       Alderman@17ward.com  http://www.David.Moore@cityofchicago.org
2  Ward44@cityofchicago.org                      http://44thward.org/

                  LOCATION                              CITY HALL ADDRESS  \
0   (41.95392, -87.703301)  121 North LaSalle Street, Room 200, Office 20
1   (41.75044, -87.657221)  121 North LaSalle Street, Room 300, Office 37
2  (41.940497, -87.654108)             121 North LaSalle Street, Room 304

  CITY HALL CITY CITY HALL STATE  CITY HALL ZIPCODE        CITY HALL PHONE
0        Chicago              IL              60602         (312) 744-3373
1        Chicago              IL              60602         (312) 744-3435
2        Chicago              IL              60602  (312) 744-3073 / 3133

(50, 16)

## Inner join

In [47]:
ward_crime = ward.merge(crime_sample, on = "WARD", suffixes = ('_ward','_cri')) # For the same column name!
print(ward_crime.head(1))
ward_crime.shape

   WARD                    ALDERMAN                     ADDRESS     CITY  \
0    33  Rodriguez Sanchez, Rossana  3001 West Irving Park Road  Chicago

  STATE  ZIPCODE      WARD PHONE WARD FAX              EMAIL WEBSITE  ...  \
0    IL  60618.0  (773) 840-7880      NaN  Info@33rdward.org     NaN  ...

   LOCATION DESCRIPTION ARREST DOMESTIC  BEAT  FBI_CD     x_cord     y_cord  \
0                STREET      N        N  1724     04A  1153475.0  1926398.0

   LATITUDE  LONGITUDE                   LOCATION_cri
0  41.95388 -87.711204  (41.953880109, -87.711204343)

[1 rows x 32 columns]

(1001, 32)

## Left join

In [48]:
# if the joining key column name is different, then on will change to left_on and right_on
ward_crime_lf = ward.merge(crime_sample, on = "WARD",how ="left")

## Right join

## Outer join
 - Will return all rows from both tables regardless if there is a match between the tables

In [49]:
outer_join_test1 = {
    "movie_id": [12, 35, 105],
    "genre":["Family", "Family", "Family"]
}

outer_join_test2 = {
    "movie_id": [5, 13, 35],
    "genre":["Comedy", "Comedy", "Comedy"]
}

In [51]:
movie_Fam = pd.DataFrame(outer_join_test1)
movie_Cmd = pd.DataFrame(outer_join_test2)
print(movie_Fam)
print(movie_Cmd)

   movie_id   genre
0        12  Family
1        35  Family
2       105  Family
   movie_id   genre
0         5  Comedy
1        13  Comedy
2        35  Comedy

In [52]:
family_comedy = movie_Fam.merge(movie_Cmd, on="movie_id", how = "outer", suffixes = ("_fam","_cmd"))
print(family_comedy)

   movie_id genre_fam genre_cmd
0        12    Family       NaN
1        35    Family    Comedy
2       105    Family       NaN
3         5       NaN    Comedy
4        13       NaN    Comedy

## When to merge at table to itself
- Hierarchical relationships
- sequential relationship
- graph data

## Merging on indexes

In [ ]:
# Setting an index while import data
Netflix = pd.read_csv('NetflixOriginals.csv', index_col=["Title"])

## Filtering joins (Need practice!)

- Source: https://campus.datacamp.com/courses/joining-data-with-pandas/advanced-merging-and-concatenating?ex=1
- Semi-join: 
    - Returns the intersection, similar to an inner join, but only returns columns from the left table! 
    - No duplicate rows from the left table are returned, even if there is a one-to-many relationship!
-anti-join: 
    - Returns the left table, excluding the intersection
    - Returns only comlumns from the left table and not the right!

## Concatenated DataFrame together vertically
- different tables with same table names
- Ypu can not add a key and set ignore_index as False at the sametime!

## Verifying integrity

## Merge_ordered()